################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PayCompute.Entity/dbo.TaxYears.data.sql
